.mat-card { 
    border-radius: 32px;
    margin: 10px 10px;
    padding: 16px;
    border-color: rgb(12, 116, 214);
    background-color: rgb(243, 236, 197);
	
}
.mat-card#first-card{
    padding: 1;
	justify-content: center;
}

div#profile-background {
    display:flex;
    z-index: 1;
	justify-content: center;
}

div#profile-background img {
    width: 85%;
    border-radius: 32px 32px 0 0;
	justify-content: center;
}

.profile-image {
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -7%;
	margin-left: 10%;
    z-index: 1;
    
}

div#info-actions {
display: flex;

}
div#info-actions button {
	margin-right: 8px;
}

div#info-contact span {
	font-size: 1rem;
	font-weight: 400;
}

div#info-contact span a {
	color: rgb(0, 102, 255);
	touch-action: manipulation;
	text-decoration: none;
}

div#info-company {
	font-size: 1.2 rem;
	font-weight: 400;
	line-height: 1.25;
}

 .btn-edit {
	flex-direction: column;
	align-self: flex-end;
	justify-content: flex-end;
	display: flex;
	text-align: center;
}

#info-img {
	display: flex;
	justify-content:flex-start;
	
}

.btn-right {
	display: flex;
	align-self: flex-end;
}
.fa-button,.fa{
	color: black;
	display: block;
	height: 2.4rem;
	width: 2.4rem;
	line-height: 2.4rem;
	text-align: center;
	border-radius: 50%;
	background: white;
	padding:15%;
}

.fa-button:hover,.fa:hover{
	background: gray;
	justify-self:center;
}

div#info-data {
	display:flex;
	justify-content: space-between;
}
div#info-data h1 {
	font-size: 1.8rem;
	display: inline;
	font-weight:500;
	line-height: 1.25;
	word-wrap:breack-word;
	word-break:break-word;
}
div#info-data ul#info-details {
	width: 432px;
	list-style: none;
	flex-shrink: 0;
}	
	
div#info-data ul#info-details li a {
color: black;
display: flex;
text-decoration: none;
}

div#info-data ul#info-details li a h4{
	font-size: 1rem;
	font-weight: 500;
	align-self: center;
	vertical-align: baseline;
}

div#info-data ul#info-details li a img{
    width: 64px;
	height: 32px;
	margin: 4px 8px 4px 0;
	
}

.card-titles {
	display:flex;
	justify-content: space-between;
	
}

.card-titles h3 {
	font-size: 1.8rem;
	display: inline;
	font-weight:500;
	line-height: 1.25;
	word-wrap:breack-word;
	word-break:break-word;

}


ul.items-list {
 list-style: none inside;
}

ul.items-list li {
	display: flex;
   margin: 10px 0;
}

ul.items-list li div.data-container {
	flex-grow: 1;
}

ul.items-list li div.data-container a {
	display: flex;
	color: black;
}
.items-list img {
 width: 80%;
 justify-content: flex-start;
 padding: 1%;
}
div.log-image-container {
	width: 70px;
}

#info-data {
	width: 100%;
	justify-content: flex-start;

}

#info-details {
	width: 100%;
	justify-content: flex-end;
}

.list-info h4 p {
	font-size: 1rem;
	font-weight: 500;
	align-self: center;
	vertical-align: baseline;
	justify-content: flex-start;
}
  

div.card-qta h3 {
    font-size: 1.8rem;
	display: inline;
	font-weight:500;
	line-height: 1.25;
	word-wrap:breack-word;
	word-break:break-word;
	margin-bottom: 0px;
	
}
 
ul.card-qta li {
	font-size: 1rem;
	font-weight: 500;
	align-self: center;
	vertical-align: baseline;
	margin-bottom: 2px;

}